


#root {
  text-align: center;
  height:100%
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes curtain-open-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes curtain-open-right {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background: linear-gradient(to right, #8b0000, #b22222, #8b0000);
  background-size: 200% 100%;
  box-shadow: inset -10px 0 15px rgba(0, 0, 0, 0.5);
  z-index: 30;
  border-top: 5px solid #6d0000;
  border-bottom: 5px solid #6d0000;
}
.curtain.left {
  left: 0;
  animation: curtain-open-left 2.5s ease forwards;
}
.curtain.right {
  right: 0;
  animation: curtain-open-right 2.5s ease forwards;
}
.curtain::before, .curtain::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10%;
  background: rgba(0, 0, 0, 0.3);
}
.curtain::before {
  left: 0;
}
.curtain::after {
  right: 0;
}
